.col-4 {
    border-bottom-left-radius: 20px;
    background: #50a3a2;
    background: -webkit-linear-gradient(top left, #52BEFC 25%, #2EF2FD 100%);
    background: linear-gradient(to bottom right, #52BEFC 25%, #2EF2FD 100%);
}

.col-4 h3 {
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 0.5px black, 0 0 1em grey;
}

.col-4 h3 a{
    font-size: 22px;
    color: white;
    font-weight: bold;
}

.col-4 h4 {
    font-size: 20px;
    text-shadow: 1px 1px 0.5px black, 0 0 1em grey;
}

.col-4 h4 a{
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 0.5px black, 0 0 1em grey;
}


.col-8 h3 {
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: bold;
}

.col-8 #task {
    font-size: 18px;
    font-family: 'Archivo Narrow', sans-serif;
}

.col-8 h6 {
    font-size: 17px;
    color: lightgrey;
    font-weight: bold;
}

.page-header {
    background-color: #00adb5;
    margin-top: 0;
    padding: 20px 20px 20px 30px;
}

.page-header h1 {
    color: #FFFFFF;
    font-family: 'Fjalla One', sans-serif;
}

.left-column {
    background-color: #393e46;

}

.left-column h3, a{
    color: #FFFFFF;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: bold;
}

.left-column h4 a{
    font-weight: normal;
}

.right-column {
    background-color: #eeeeee;
}

.right-column h3 {
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: bold;
}

a {
    color: #00adb5;
}

h3 a, h4 a {
    color: #ffffff;
}
